
<article data-id="{{itemId}}" style="background-color:{{color}}">
	<div style="color:#ffffff;">
		<span>{{cliente}}</span><br>
		<!--<span>{{estatus}}</span>-->
		<span>Estado: {{estatus}}</span>
	</div>
</article>

<!-- ROJO #F80000
	VERDE #00880A
	ROJO MENOS CHILLON= #f75f60
	VERDE= #1fce6d-->